provider_installation {
  network_mirror {
    url     = "https://terraform-mirror.yandexcloud.net/"
    include = ["registry.terraform.io/yandex-cloud/*"]
  }

  direct {
    exclude = ["registry.terraform.io/yandex-cloud/*"]
  }
}
